{% extends "dashboard_base.html" %}
{% block content %}
{% load static %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="sticky-top secondary-menu-sticky-top">
          <div class="secondary-menu">
            <ul class="list-unstyled mb-0">
              <li><a href=" {% url 'seeker_dashboard' %} ">Dashboard</a></li>
              <li><a  class="active" href=" {% url 'my_profile' %} ">My Profile</a></li>
              <li><a href=" {% static 'dashboard-candidates-change-password.html' %} ">Change Password</a></li>
              <li><a href=" {% static 'dashboard-candidates-my-resume.html' %} ">My Resume</a></li>
              <li><a href=" {% static 'dashboard-candidates-manage-jobs.html' %} ">Manage Jobs</a></li>
              <li><a href=" {% static 'dashboard-candidates-saved-jobs.html' %} ">Saved Jobs</a></li>
              <li><a href=" {% static 'dashboard-candidates-pricing.html' %} ">Pricing Plan</a></li>
              <li><a href=" {% static 'login.html' %} ">Log Out</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="user-dashboard-info-box">
          <div class="section-title-02 mb-2 d-grid">
            <h4>Basic Information</h4>
          </div>
          <div class="cover-photo-contact">
            <div class="upload-file">
              <label for="formFile" class="form-label">Upload Cover Photo</label>
              <input class="form-control" type="file" id="formFile">
            </div>
          </div>
          <form>
            <div class="row">
              <div class="form-group mb-3 col-md-6">
                <label class="form-label">Your Name</label>
                <input type="text" class="form-control" value="Felica Queen">
              </div>
              <div class="form-group mb-3 col-md-6">
                <label class="form-label">Email</label>
                <input type="email" class="form-control" value="felicaqueen@gmail.com">
              </div>
              <div class="form-group mb-3 col-md-6 datetimepickers">
                <label class="form-label">Date of birth</label>
                <div class="input-group date" id="datetimepicker-01" data-target-input="nearest">
                  <input type="text" class="form-control datetimepicker-input" value="08/11/1999" data-target="#datetimepicker-01">
                  <div class="input-group-append d-flex" data-target="#datetimepicker-01" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                  </div>
                </div>
              </div>
              <div class="form-group mb-3 col-md-6">
                <label class="form-label">Phone</label>
                <input type="text" class="form-control" value="+(123) 345-6789">
              </div>
              <div class="form-group mb-3 col-md-6">
                <label class="d-block mb-3">Gender</label>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="customRadio" id="customRadio1">
                    <label class="form-check-label" for="customRadio1">Male</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="customRadio" id="customRadio2" checked="checked">
                    <label class="form-check-label" for="customRadio2">Female</label>
                  </div>
              </div>
              <div class="form-group mb-3 col-md-6">
                <label class="form-label">Job Title</label>
                <input type="text" class="form-control" value="General Insurance">
              </div>
              <div class="form-group mb-3 col-md-6 select-border">
                <label class="form-label">Job Title</label>
                <select class="form-control basic-select">
                  <option value="value 01" selected="selected">Test Selector</option>
                  <option value="value 02">Needham, MA</option>
                  <option value="value 03">New Castle, PA</option>
                </select>
              </div>

              <div class="form-group mb-3 col-md-6">
                <label class="form-label">Salary</label>
                <input type="text" class="form-control" value="$33,000">
              </div>
              <div class="form-group mb-0 col-md-12">
                <label class="form-label">Description</label>
                <textarea class="form-control" rows="5" placeholder="Give yourself the power of responsibility. Remind yourself the only thing stopping you is yourself."></textarea>
              </div>
            </div>
          </form>
        </div>
        <div class="user-dashboard-info-box">
          <div class="section-title-02 mb-3">
            <h4>Social Links</h4>
          </div>
          <form>
            <div class="row">
              <div class="form-group mb-3 col-md-6">
                <label class="form-label">Facebook</label>
                <input type="text" class="form-control" value="https://www.facebook.com/">
              </div>
              <div class="form-group mb-3 col-md-6">
                <label class="form-label">Twitter</label>
                <input type="email" class="form-control" value="https://www.twitter.com/">
              </div>
              <div class="form-group mb-0 col-md-12">
                <label class="form-label">Linkedin</label>
                <input type="text" class="form-control" value="https://www.linkedin.com/">
              </div>
            </div>
          </form>
        </div>
         <div class="user-dashboard-info-box">
          <div class="form-group mb-0">
            <h4 class="mb-3">Address</h4>
            <div class="form-group mb-3">
              <label class="form-label">Enter Your Location</label>
              <input type="text" class="form-control" value="214 West Arnold St. New York, NY 10002">
            </div>
            <div class="company-address-map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.835434509374!2d144.95373531590414!3d-37.817323442021134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4c2b349649%3A0xb6899234e561db11!2sEnvato!5e0!3m2!1sen!2sin!4v1559039794237!5m2!1sen!2sin"  height="400" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <a class="btn btn-md btn-primary" href="#">Save Settings</a>
      </div>
      </div>
    </div>
</section>
{% endblock %}