{% extends "customer/base.html" %}
{%load crispy_forms_tags %}
{% block content %}
<div class="content-wrapper">
<!--            <div class="page-header">page-header-->
<!--              <h3 class="page-title"> Form elements </h3>-->
<!--              <nav aria-label="breadcrumb">-->
<!--                <ol class="breadcrumb">-->
<!--                  <li class="breadcrumb-item"><a href="#">Forms</a></li>-->
<!--                  <li class="breadcrumb-item active" aria-current="page">Form elements</li>-->
<!--                </ol>-->
<!--              </nav>-->
<!--            </div>-->
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                      <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">Staff</th>
                              <th scope="col">Date</th>
                              <th scope="col">Start time</th>
                              <th scope="col">End Time</th>
                              <th scope="col">Book Appointment</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for i in data %}
                            <tr>
                                {% if i.user.is_worker %}
                              <th scope="row">{{i.user}}</th>
                              <th scope="row">{{i.date}}</th>
                              <th scope="row">{{i.start_time}}</th>
                              <th scope="row">{{i.end_time}}</th>
                                <th scope="row">
                                    <a href="{% url 'appointment' i.id %}">
                                        <input class="btn btn-primary" type="Submit" value="Book Appointment">
                                    </a>
                                </th>
                                {% endif %}
                            </tr>
                            {% endfor %}
                          </tbody>
                      </table>
                  </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}
